.wrapper-padding{
padding: 1% 1% 1% 1% ;
}
.table-img{
	width:60px;
	height:auto;
}

.btn-color{
    background-color: #00bb18;
    color: white;
}

.edit-btn-color{
    color: darkgreen;
}

.delete-btn-color{
    color: darkred;
}

.cardTitle{
    font-family: 'Roboto',sans-serif;
    font-weight: 900!important;
    font-size: 42px!important;
    color: #FFFFFF!important;
}

.cardText{
    font-family: 'Roboto',sans-serif;
    font-weight: 300!important;
    font-size: 20px!important;
    color: #FFFFFF!important;
}
